<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style type="text/css">
      <%= File.read(Rails.root.join("app/assets/stylesheets/mailer_email.scss")) %>
    </style>
  </head>
  <body>
    <%= yield %>  <!-- This is REQUIRED for your mailer view to render -->
  </body>
</html>
